<div class="main">

    <h1>Edit <%= @project.title%></h1>

    <%= render partial: "layouts/errors", locals: {object: @project} %>

    <%= render partial: "form", locals: {project: @project}%>

    <%= button_to "Delete", project_path(@project), method: :delete %>

</div>
