<h1>New Project</h1>


<%= render partial: "layouts/errors", locals: {object: @project} %>
<!-- render the errors partial, send it the @post as the 'object' -->

<%= render partial: "form", locals: {project: @project}%>