<% if object.errors.any? %>

  <div id="error_explanation">
    <h2><%= pluralize(object.errors.count, "error") %> prohibited this from being saved:</h2>

    <% object.errors.full_messages.each_with_index do |msg, index| %>
      <%= "#{index + 1}. #{msg}" %>
      <br><br>
    <% end %>
  </div>

<% end %>